* {
    margin: 0;
    padding: 0;
}

body,html,#root,.ant-layout{
    width: 100%;
    height: 100%;
}

.tx-l {
    text-align: left;
}

.tx-r {
    text-align: right;
}

.tx-c {
    text-align: center;
}