//flex布局
.d-flex{
    display: flex;
}

.ai-center{
    align-content: center;
}

.jc-center{
    justify-content: center;
}
.jc-between{
    justify-content: space-between;
}

.jc-around{
    justify-content: space-around;
}

.f-wrap{
    flex-wrap: wrap;
}

.text-center{
    text-align: center
}

body{
    background-image: url('../public/logo.jpg');
    background-attachment: fixed;
}

.m-2{
    margin-top: 20px;
}